html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("https://shorturl.at/PBoTv");
  background-repeat: repeat;
  background-color: black;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;
}


button span {
  color: #5a5959;
  font-weight: "500";
}

input::placeholder {
  color: #5a5959;
  font-weight: "500";
}

#highlightedText {
  color: #df9a00;
}
