html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  background-image: url("/estrelas.png");
  background-repeat: repeat;
  background-color: black;
  font-family: "Roboto", sans-serif;
  position: relative;
}

button span {
  color: #5a5959;
  font-weight: "500";
}

input::placeholder {
  color: #5a5959;
  font-weight: "500";
}

#highlightedText {
  color: #fffe2d;
}
